.connect-with-our-customer {
    background: #F4F8EB;
}

.connect-with-our-customer-heading {
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    padding-top: 20px;
}


.connect-with-our-customer-heading p {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.connect-with-our-customer-heading p picture {
    width: 180px;
    margin-bottom: 17px;
    padding: 0px 8px;
}

.connect-with-our-customer-card {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
}

.connect-with-our-customer-card p {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    margin: 20px;
    background: #FFFFFF;
    line-height: 10px;
    padding: 10px 10px;
    border-radius: .5rem;
    border: 1px solid;
    padding: 1.25rem;
    cursor: pointer;
}

.connect-with-our-customers picture:nth-child(1) {
    margin-right: 20px;
    width: 52px;
}

.connect-with-our-customers picture:nth-child(2) {
    margin-left: 5rem;
    width: 1.75rem;
}

@media (max-width: 600px) {
    .connect-with-our-customer-card {
        display: block;
    }

    .connect-with-our-customer-card p{
        justify-content: space-around;
    }
}
