* {
  box-sizing: border-box;
}

.footer-section {
  background: #f4f6fc;
}

.footer-section-details {
  display: flex;
  justify-content: space-between;
}

.footer-section-details-wrapper {
  width: 100vw;
  max-width: 100%;
  padding: 50px 55px 0;
  margin: 0 auto;
}

.footer-section-details-2-wrapper {
  width: 100vw;
  max-width: 100%;
  padding: 0px 60px 0px;
}

.footer-section-details-3 {
  display: flex;
  justify-content: space-evenly;
}

.footer-section-details-3-wrapper {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  background: #dce1ec;
}

.footer-section-details>div {
  flex: 0 0 31%;
}

.footer-section-details-4-wrapper {
  width: 100vw;
  max-width: 100%;
  padding: 0 60px 25px;
}

.footer-section-details-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.footer-section-details-4>div:last-child {
  text-align: right;
}

.footer-section-details-2 {
  color: #6a738a;
  font-size: 12px;
  line-height: normal;
  margin-bottom: 0;
}

.footer-section-details-3 {
  color: #6a738a;
  font-size: 12px;
  line-height: normal;
  margin-bottom: 0;
  padding: 15px 20px 25px;
}

.footer-section-details-4 {
  color: #6a738a;
  font-size: 12px;
  line-height: normal;
  margin-bottom: 0;
}

.footer-section-details-3-wrapper {
  margin-top: 20px;
}

.footer-section-details>div>div>p {
  font-size: 20px;
  /* border-bottom: 1px solid rgba(33, 41, 90, .2);  */
  margin-bottom: 25px;
  padding-bottom: 10px;
  color: #1a294e;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-section-details>div>div {
  border-bottom: 1px solid black;
}

.footer-section-details-wrapper>.footer-section-details>div:nth-child(3) img {
  width: 22px;
  height: 20px;
  margin-top: -4px;
}

.footer-section-details div>hr {
  display: none;
}

.footer-section-details-2-wrapper p:first-child {
  border-top: 1px solid rgba(33, 41, 90, 0.2);
  padding-top: 10px;
  margin-top: 37px;
}

.footer-section-details-wrapper div:nth-child(3) div:nth-child(2),
.footer-section-details-wrapper div:nth-child(3) div:nth-child(3) {
  font-size: 14px;
  color: #6a738a;
  display: flex;
  align-items: center;
}

.footer-section-details-wrapper div:nth-child(3) div:nth-child(2) img,
.footer-section-details-wrapper div:nth-child(3) div:nth-child(3) img {
  margin-right: 10px;
  margin-top: 6px;
}

.footer-section-details div:nth-of-type(2) img {
  width: 35px;
  height: 35px;
}

.footer-section-details>div:nth-child(1)>div:last-child>p img {
  width: auto !important;
  height: 35px;
}


@media (max-width: 767px) {
  .footer-section-details-wrapper {
    padding-left: 5vw;
    width: 90%;
    padding-right: 5vw;
  }
}